@use "windows/background";
@use "windows/login";
@use "windows/notify";
@use "dynamic";

* {
  font-family: dynamic.$font_family;
  background: transparent;
  border-color: transparent;
  outline-color: transparent;
  background-image: none;
}
