@use "dynamic";

window.Background {
  color: dynamic.$on_primary;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image:
    linear-gradient(transparent 80%, rgba(dynamic.$primary, 0.6)),
    url(dynamic.$wallpaper);

  &.blur {
    filter: blur(4.5px) brightness(40%) contrast(115%) saturate(125%);
  }

  Clock {
    padding: 0 40px;

    .time {
      font-size: 150px;
      font-weight: 800;
      text-shadow: 8px 8px 0 dynamic.$primary;
    }

    .date {
      padding-bottom: 30px;
      font-size: 50px;
      font-weight: 400;
      text-shadow: 4px 4px 0 dynamic.$primary;
    }

    &.vanish {
      opacity: 0;
      transition: opacity 0.5s ease-out;
    }
  }

  transition: all 0.4s ease-out;
}
