@use "dynamic";
@use "wallpaper";
@use "sass:math";

@function stroke($color, $radius) {
  $hypotenuse: math.sqrt($radius * $radius + $radius * $radius);
  @return $color($radius) + px 0px 0px,
    $color $hypotenuse + px $hypotenuse + px 0px, $color 0px ($radius) + px 0px,
    $color (-$hypotenuse + px) $hypotenuse + px 0px,
    $color (-$radius) + px 0px 0px,
    $color (-$hypotenuse + px) (-$hypotenuse + px) 0px,
    $color 0px (-$radius) + px 0px,
    $color $hypotenuse + px (-$hypotenuse + px) 0px;
}

window.Background {
  color: dynamic.$on_primary;
  @extend .wallpaper;

  &.blur {
    filter: blur(4.5px) brightness(40%) contrast(115%) saturate(125%);
  }

  .gradient {
    opacity: 0.8;
    background: linear-gradient(transparent 80%, dynamic.$primary);
  }

  Clock {
    padding: 0 40px;

    .time {
      font-size: 150px;
      font-weight: 800;
      text-shadow: 8px 8px 0 dynamic.$primary;
    }

    .date {
      padding-bottom: 30px;
      font-size: 50px;
      font-weight: 400;
      text-shadow: 4px 4px 0 dynamic.$primary;
    }

    &.vanish {
      opacity: 0;
      transition: opacity 0.5s ease-out;
    }
  }

  transition: all 0.4s ease-out;
}
