@use "dynamic";

window.Background {
  &.blur {
    filter: blur(4.5px) brightness(25%) contrast(115%) saturate(125%);
  }

  .gradient {
    opacity: 0.8;
    background: linear-gradient(transparent 60%, dynamic.$background);
  }

  Clock {
    padding: 20px 25px;
    margin: 20px 25px;

    .time {
      font-size: 150px;
      font-weight: 800;
    }

    .date {
      padding-left: 10px;
      font-size: 50px;
      font-weight: 400;
    }

    &.vanish {
      opacity: 0;
      transition: opacity 0.5s linear;
    }
  }

  transition: all 0.3s linear;
}
