@use "dynamic";

window.Login {
  color: dynamic.$on_background;
  background: linear-gradient(
    rgba(dynamic.$primary, 0.1),
    rgba(dynamic.$background, 0.1)
  );
  font-weight: bold;
  border-radius: 10px;
  padding: 15px 20px;

  entry {
    color: dynamic.$on_secondary_container;
    background: dynamic.$secondary_container;
  }

  entry:hover,
  entry:focus,
  entry:active,
  entry:selected,
  entry:focus-visible {
    color: dynamic.$on_primary_container;
    background: dynamic.$primary_container;
    outline-color: dynamic.$primary;
  }

  button {
    border-radius: 8px;
    margin: 2px;
    color: dynamic.$on_primary_container;
    background: dynamic.$primary_container;
  }

  button:hover {
    background: darker(dynamic.$primary_container);
  }
}
