@use "dynamic";
@use "sass:math";

@function stroke($color, $radius) {
  $hypotenuse: math.sqrt($radius * $radius + $radius * $radius);
  @return $color($radius) + px 0px 0px,
    $color $hypotenuse + px $hypotenuse + px 0px, $color 0px ($radius) + px 0px,
    $color (-$hypotenuse + px) $hypotenuse + px 0px,
    $color (-$radius) + px 0px 0px,
    $color (-$hypotenuse + px) (-$hypotenuse + px) 0px,
    $color 0px (-$radius) + px 0px,
    $color $hypotenuse + px (-$hypotenuse + px) 0px;
}

window.Login {
  font-weight: bold;

  frame {
    border-radius: 12px;
  }

  .radial-gradient {
    padding: 200px;
    background: radial-gradient(
      closest-side,
      dynamic.$primary,
      rgba(dynamic.$surface, 0.2),
      transparent
    );
  }

  entry {
    color: dynamic.$on_secondary_container;
    background: rgba(dynamic.$secondary_container, 0.7);
  }

  entry:hover,
  entry:focus,
  entry:active,
  entry:selected,
  entry:focus-visible {
    background: rgba(dynamic.$secondary_container, 0.4);
    outline-color: dynamic.$primary;
  }

  entry text selection {
    color: dynamic.$on_primary;
    background-color: dynamic.$primary;
  }

  .vendor-name {
    color: dynamic.$primary;
    font-size: 50px;
    padding: 0 10px;
    /* text-shadow: stroke(dynamic.$on_primary, 1); */
  }

  .icon {
    opacity: 0.9;
    margin: 20px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(dynamic.$icon);
  }

  .login-container {
    padding: 30px;
    background-image: linear-gradient(
      90deg,
      rgba(dynamic.$surface, 1),
      rgba(dynamic.$surface, 0.7)
    );
  }

  .gradient {
    min-width: 500px;
    min-height: 300px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:
      linear-gradient(
        90deg,
        rgba(dynamic.$surface, 0.4) 50%,
        rgba(dynamic.$primary, 0.4)
      ),
      url(dynamic.$wallpaper);
  }

  .login-button {
    margin-top: 5px;
    margin-bottom: 15px;
    color: dynamic.$on_primary;
    background: dynamic.$primary;
  }

  .login-button:hover {
    color: dynamic.$on_primary_container;
    background: darker(dynamic.$primary_container);
  }
}
