@use "vars/colors";

window.Login {
  color: colors.$fg-color;
  background: rgba(0, 0, 0, 0.2);
  font-weight: bold;
  border-radius: 10px;
  padding: 15px 20px;

  entry:hover,
  entry:focus,
  entry:active,
  entry:selected,
  entry:focus-visible {
    outline-color: colors.$fg-color;
  }

  button {
    border-radius: 8px;
    margin: 2px;
    background: rgba(0, 0, 0, 0.2);
  }

  button:hover {
    background: rgba(0, 0, 0, 0.4);
  }
}
