@use "dynamic";

Notify {
  background {
    filter: brightness(50%);
    &.error {
      background: radial-gradient(dynamic.$error, transparent);
    }
    &.loading,
    &.logging {
      background: radial-gradient(dynamic.$primary_container, transparent);
    }
  }
  frame {
    color: dynamic.$on_surface;
    background: dynamic.$surface_container;
  }
  label {
    font-size: 24px;
    padding: 34px;
  }
}
